
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="/Assets/admin/img/logo/logo.png" rel="icon">
    <title>Mobile World - Truy cập bị từ chối!</title>
    <link href="/Assets/admin/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="/Assets/admin/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="/Assets/admin/css/ruang-admin.min.css" rel="stylesheet">
</head>

<body id="page-top">

    <div id="content-wrapper" class="d-flex flex-column" style="justify-content: center; align-items: center; height: 90vh">
        <div id="content">
            <!-- Container Fluid-->
            <div class="container-fluid" id="container-wrapper">
                <div class="text-center">
                    <img src="/Assets/admin/img/error.svg" style="max-height: 100px;" class="mb-3">
                    <h3 class="text-gray-800 font-weight-bold">Oopss!</h3>
                    <p class="lead text-gray-800 mx-auto">403 Truy cập bị từ chối!</p>
                    <a href="/homeshop">&larr; Trở về trang chính</a>
                </div>

            </div>
            <!---Container Fluid-->
        </div>
        <!-- Footer -->
        <footer class="sticky-footer bg-white" style="position: fixed; bottom: 0; width: 100%;">
            <div class="container my-auto">
                <div class="copyright text-center my-auto">
                    <span>
                        copyright &copy;
                        <b>Mobile World</b>
                    </span>
                </div>
            </div>
        </footer>
        <!-- Footer -->
    </div>

    <script src="/Assets/admin/vendor/jquery/jquery.min.js"></script>
    <script src="/Assets/admin/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="/Assets/admin/vendor/jquery-easing/jquery.easing.min.js"></script>
    <script src="/Assets/admin/js/ruang-admin.min.js"></script>

</body>

</html>
